* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-weight: blod;
    font-family: "Segoe UI Emoji";
    color: #000;
    cursor: auto;
}
.navbar-bramd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background: #f5f8fa;
}
.navHeader {
    color: rgba(0, 0, 0, 0.5);
}
.con {
    font-family: Merriweather, serif;
    margin: 4rem auto;
    position: relative;
    width: 80%;
    max-width: 710px;
    word-wrap: break-word;
}
.about-title {
    font-family: "Segoe UI Emoji";
    font-size: 54px;
    margin-top: 30px;
    margin-right: 10px;
}
.about-main {
    font-size: 20px;
}
.about-main > * {
    font-family: "Segoe UI Emoji";
    padding-bottom: 20px;
}
.aboutData {
    margin-top: 36px;
    padding-bottom: 20px;
}
.List {
    text-align: left;
    padding-left: 36px;
}
.List li {
    margin-bottom: 11.2px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 11.2px;
}
.List a:hover{
    text-decoration: underline;
    font-weight: 700;
}
.blog-footer {
    display: block;
    text-align: center;
    margin-top: 182px;
    color: rgb(187, 199, 204);
    margin-bottom: 20px;
}
