* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-weight: blod;
    font-family: "Segoe UI Emoji";
    color: #000;
    cursor: auto;
}
.navbar-bramd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background: #f5f8fa;
}
.navHeader {
    color: rgba(0, 0, 0, 0.5);
}
.con {
    font-family: Merriweather, serif;
    margin: 4rem auto;
    position: relative;
    width: 80%;
    max-width: 710px;
    word-wrap: break-word;
    text-align: left;
}
.article-title {
    font-family: 'Source Han Sans', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    font-size: 36px;
}
.article-meta {
    font-size: 20px;
    float: left;
    display: block;
}
.article-meta >* {
    float: left;
    margin-right: 30px;
    font-size: 16px;
}
.article-meta >*:hover {
    text-decoration: underline;
    font-weight: 900;
}
.articleCon {
    margin-top: 31px;
}
.article-entry {
    color: rgb(58, 65, 69);
    font-family:Songti SC (STSong);
    font-size: 18px;
    letter-spacing: 0.12px;
    line-height: 31.5px;
    word-wrap: break-word;
    text-rendering: geometricPrecision;
}
.headerlink {
    /*margin-bottom: 30px;*/
}
.headerTitle {
    margin-top: 20px;
    margin-bottom: 20px;
}
.line-style {
    background: rgb(158, 171, 179);
    position: relative;
    display: block;
    height: 1px;
    top: -8px;
    opacity: 0.7;
}
.article-tag-list {
    list-style: none;
    float: left;
}
.article-tag-list-item {
    display: inline-block;
}
.article-tag-list-item a {
    font-family: Comic Sans MS;
    font-size: 20px;
}
.article-tag-list-item a:hover {
    text-decoration: underline;
    font-weight: 900;
}
.article-nav {}
.older-posts {
    margin-top: 60px;
    border: 1px solid rgb(191, 200, 205);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(191, 200, 205);
    border-radius: 4px;
    height: 35px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
#prev-older-posts {
    float: left;
    margin-left: -184px;
}
#next-older-posts {
    float: right;
}
.older-posts:hover {
    color: #889093;
    opacity: 3;
    border-color: #98a0a4;
}
.blog-footer {
    display: block;
    text-align: center;
    margin-top: 182px;
    color: rgb(187, 199, 204);
    margin-bottom: 20px;
}
.toTop {
    position: fixed;
    bottom: 113px;
    z-index: 20;
    left: 80%;
    width: 38px;
    height: 38px;
    background-color: #FFF;
    border-radius: 3px;
    cursor: pointer;
}
.toTop>.stick {
    position: absolute;
    width: 8px;
    height: 14px;
    display: block;
    left: 15px;
    top: 15px;
    border-radius: 1px;
    background-color: #aaa
}
.toTop>.arrow {
    position: absolute;
    left: 10px;
    top: -1px;
    width: 0;
    height: 0;
    border: 9px solid rgba(126, 27, 27, 0);
    border-bottom-color: #aaa
}
