.con {
    font-family: Merriweather, serif;
    margin: 4rem auto;
    position: relative;
    width: 80%;
    max-width: 710px;
    word-wrap: break-word;
    font-size: 30px;
    text-align: left;
}
.tags-title{
    margin-bottom: 47px;
}
.tags-entry ul li {
    margin-bottom: 13.2px;
    margin-left: 31px;
    margin-right: 0px;
    margin-top: 13.2px;
}

.tags-entry a:hover{
    font-weight: 900;
}

.article-title{
    font-size: 25px;
}
.article-date{
    color: rgb(187, 199, 204);
    font-size: 20px;
}
.article-dateTime {
    float: right;
}
