.archives-main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: @blog-main-font;
    height: 100%;
    padding: 3.5%;
    ul {
        line-height: 35px;
    }
}
.archives-title {
    text-align: left;
    color: @article-entry-p;
    margin: 1% 0;
}
.archives-entry {
    margin: 4% 0;
    color: @blog-main-color;
    font-family: Courier;
    a {
        font-size: 20px;
        color: @article-entry-p;
        &:hover {
            color: @blog-main-color;
        }
    }
}
