.tags-main {
    margin-top: 3%;
    padding: 0 5%;
}
.tags-title {
    text-align: left;
}
.tags-entry ul li {
    margin: 34.1px 0 68.2px 31px;
    .article-title {
        font-size: @article-title-size - 8px;
    }
    .article-dateTime {
        float: right;
        .article-date {
            color: @article-date;
        }
    }
}
@import "post/paginator";
