@import "../color";
.tags-main {
    margin-top: 3%;
    padding: 0 5%;
}
.tags-title{
    color:@article-entry-p;
    font-size: 28px;
    text-align: left;
    ::before{
        content: '#';
        color: @blog-main-color;
    }
}
.tags-entry{
    padding: 5%;
    height: 24rem;
    .article-dateTime{
        float: right;
    }
    ul li{
        height: 3rem;
        a{
            font-family: @blog-main-font;
            color: @article-entry-p;
            font-size: 18px;
            &:hover{
                border-bottom: 2px solid @blog-main-color;
            }
        }
    }
}
@import "post/paginator";
