.tags-main {
    background: #fff;
    padding: 2.5%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    a {
        font-size: 18px;
        margin: 0 1%;
        font-family: @blog-main-font;
        color: @article-entry-p;
        .hacks;
        &:hover {
            color: @blog-main-color;
            border-bottom: 2px solid @blog-main-color;
            .heart;
        }
        sup {
            display: none;
        }
    }
}
.tag-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}
