@import "../color";
@import "../font";
.navHeader {
    text-align: center;
    .logo-link {
        font-size: @article-title-size - 10;
        font-family: @logo-link-font;
        display: inline-block;
        padding-top: 5%;
        a {
            color: @white;
            background: @blog-main-color;
            height: 2.5rem;
            line-height: 2.5rem;
            padding: 0 2rem;
            display: inline-block;
        }
    }
    .nav {
        font-family: @blog-main-font;
        font-size: @blog-header-size;
        position: relative;
        left: 0.8rem;
        .nav-list-item {
            display: inline-block;
            font-size: @blog-header-size;
            cursor: auto;
            text-transform: capitalize;
            padding: 9px 10px;
            a {
                color: @blog-main-color;
                font-size: 22px;
                font-weight: 800;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
