.navHeader {
    text-align: center;
    background: @white;
    margin-bottom: 2%;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    .logo-link {
        display: inline-block;
        padding-top: 1.5%;
        a {
            font-family: cathsgbr;
            color: @blog-main-color;
            font-size: 5rem;
            &:hover {
                color: @article-entry-p;
            }
        }
    }
}
.nav {
    font-size: @blog-header-size;
    .nav-list-item {
        display: inline-block;
        font-size: @blog-header-size;
        cursor: auto;
        text-transform: capitalize;
        padding: 1%;
        a {
            color: @blog-main-color;
            font-size: 36px;
            font-family: cathsgbr;
            font-weight: 800;
            &:hover {
                color: @article-entry-p;
            }
        }
    }
}
