.about-main{
    margin: 0 auto;
    width: 60%;
    background: @white;
    padding: 2%;
}
.about-header{
    blockquote{
         background: @white;
        p{
            font-family: cathsgbr;
            font-size: 28px;
            font-style: italic;
        }
    }
}
.about-body{
    p {
        padding: 2% 0;
    }
    .about-title{
        color: @blog-main-color;
        font-size: 28px;
        font-family: cathsgbr;
        padding: 1%;
        &:hover {
            color: @article-entry-p;
        }
    }
    .about-show{

    }
}
