.photo-main {
    padding: 2% 7%;
    margin: 0 auto;
    img {
        cursor: pointer;
        display: block;
        max-width: 100%;
    }
}
.photo-list {
    position: relative;
    margin: 0 auto;
    width: 98%;
}
.photo-item {
    max-width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 6px #ccc;
    border-radius: 5px;
    margin: 0.75em;
    list-style: none;
    position: absolute;
}
