.photo-main {
    padding: 2.5%;
    margin: 0 auto;
    img {
        display: block;
        max-width: 100%;
    }
}
.photo-list {
    line-height: 1.8;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.photo-item {
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 6px #ccc;
    border-radius: 5px;
    margin: 0.75em;
    list-style: none;
    position: relative;
    max-width: 350px;
    height: 100%;
}
.photo-img {
    display: inline-block;
    cursor: pointer;
}
