//固定样式 不设置变量
@mixin pseudo() {
    content: '';
    position: absolute;
}
@mixin graphics($width,$height) {
    width: $width;
    height: $height;
}
@mixin offset($top,$right) {
    top: $top;
    right: $right;
}
@mixin color {
    background-color: $blog-main-color;
}
@mixin heart {
    #heart {
        position: fixed;
        right: 20px;
        bottom: 20px;
        @include graphics(15px,15px);
        @include color;
        margin-top: 6px;
        margin-left: 5px;
        transform: rotate(-45deg);

        &::after,
        &::before {
            @include pseudo();
        }

        &::before {
            @include graphics(15px,11px);
            @include offset(-11px,-1px);
            @include color;
            border-left: 1px solid $blog-main-color;
            border-right: 1px solid $blog-main-color;
            border-top: 1px solid $blog-main-color;
            border-radius: 10px 10px 0 0;
        }

        &::after {
            @include graphics(15px,11px);
            @include offset(1px,-13px);
            @include color;
            border-left: 1px solid $blog-main-color;
            border-right: 1px solid $blog-main-color;
            border-top: 1px solid $blog-main-color;
            border-radius: 10px 10px 0 0;
            transform: rotate(90deg);
        }
    }
}
