.article-more-link {
    margin: 2% 0;
    width: @more-link-width;
    a {
        font-size: @blog-header-size - 1;
        color: @blog-main-color;
        font-family: Bodoni,Merriweather, 'Helvetica Neue', Arial, sans-serif;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
}
