@media (max-width:768px) {
    body {
        width: 100%;
    }
    .blog-main {
        margin: 0 auto;
        padding: 0;
        width: 95%;
    }
    .shadow {
        padding: 0;
    }
    .article-main {
        padding: 0 4%;
        .article-title {
            font-size: 18px;
        }
        .article-entry {
            p {
                font-size: 14px;
                line-height: 24px;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 16px;
            }
        }
        .article-meta {
            text-align: left;
        }
    }
    .navHeader {
        .logo-link {
            a {
                font-size: 3rem;
            }
        }
    }
    header {
        .nav .nav-list-item {
            a {
                font-size: 20px;
            }
        }
    }
    #heart {
        display: none;
    }
    .archives-main {
        padding: 0 2%;
        ul {
            width: 100%;
        }
        .archives-entry {
            a {
                font-size: 14px;
            }
        }
    }
    .mian {
        .about-main {
            display: block;
            width: 90%;
            .about-header img {
                padding: 0 4%;
            }
        }
    }
    .articlepad {
        width: auto;
    }
    .older-posts-link {
        a {
            font-size: 18px;
        }
    }
}
