@media screen and (max-width:768px) {
    body {
        width: 100%;
    }
    .blog-main {
        margin: 0 auto;
        padding: 0;
        width: 95%;
    }
    .shadow {
        padding: 0;
    }
    .article-main {
        padding: 0 4%;
        .article-title {
            font-size: 18px;
        }
        .article-entry {
            p {
                font-size: 14px;
                line-height: 24px;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 16px;
            }
        }
        .article-meta {
            text-align: left;
        }
    }
    .navHeader {
        display: none;
    }
    #heart {
        display: none;
    }
    .archives-main {
        padding: 0 2%;
        ul {
            width: 100%;
        }
        .archives-entry {
            a {
                font-size: 14px;
            }
        }
    }
    .mian {
        .about-main {
            display: block;
            width: 90%;
            .about-header img {
                padding: 0 4%;
            }
        }
    }
    .articlepad {
        width: auto;
    }
    .older-posts-link {
        a {
            font-size: 18px;
        }
    }
    #mobile-bar {
        display: block;
    }
    .sidebar {
      position: fixed;
      background-color: #f9f9f9;
      width: 100%;
      height: 130px;
      top: 39px;
      left: 0;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      box-sizing: border-box;
      transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
      -webkit-transform: translate(0, -190px);
      transform: translate(0, -190px);
    }
    .sidebar .main-menu {
      display: block;
    }
    .sidebar.open {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
}
