.older-posts-link {
    float: right;
    height: @posts-link-height;
    width: @posts-link-width + 20;
    &:hover {
        text-decoration: underline;
    }
    .page-number {
        display: none;
    }
    a {
        color: @blog-main-color;
        font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
        font-weight: 700;
    }
}
