@import "../../color";
.older-posts-link {
    float: right;
    border-radius: 4px;
    height: @posts-link-height;
    width: @posts-link-width;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    &:hover {
        text-decoration: underline;
    }
    .page-number {
        display: none;
    }
    a {
        color: @blog-main-color;
        font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
        font-weight: 800;
    }
}
