<div class="con">
    <div class="archives-main">
        <header class="archives-title">
            <span>
                归档页
            </span>
        </header>
        <div class="archives-entry">
            <ul>
                <% page.posts.each(function(post){ %>
                    <%- partial('_partial/archive',{post:post}) %>
                <% }) %>
            </ul>
            <%- partial('_partial/post/paginator') %>
        </div>
    </div>
</div>
