<div class="container">
    <div class="tags-main">
        <header class="tags-title">
            <h1>
                # 归档页
            </h1>
        </header>
        <div class="tags-entry">
            <ul>
                <% page.posts.each(function(post){ %>
                    <%- partial('_partial/archive',{post:post,index:false}) %>
                <% }) %>

                <%- partial('_partial/post/paginator') %>
            </ul>
        </div>
    </div>
</div>
