<div class="tags-main">
    <%- tagcloud({min_font: 18, max_font: 26, amount: 100, orderby: 'count'}) %>
</div>
<div class="tag-photo">
    <img src="http://7xp1k3.com1.z0.glb.clouddn.com/83_1.jpg" alt="photo">
</div>
