<%- partial('post/scroll-button') %>
    <footer class="blog-footer" id="blog-footer">
        <div id="footer-info" class="inner">
            &copy;<%=date(new Date(),'YYYY') %><%= config.title %> Powered by
            <a href="https://github.com/yzzting/hexo-theme-MyFairLady" target="_blank">MyFairLady</a>
        </div>
    </footer>
    <script src="/js/sidebar.js"></script>
    <script src="/js/toTop.js"></script>
    <script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    <script>
        $('.photo-list').masonry({
        itemSelector: '.photo-item',
        columnWidth: 200
    }).delay(900);
    </script>
