    <div class="toTop" style="opacity: 1" id="toTop">
        <div class="arrow"></div>
        <div class="stick"></div>
    </div>
    <footer class="blog-footer">
        <div class="container">
            <div id="footer-info" class="inner">
                &copy; <%=date(new Date(),'YYYY') %> <%= config.title %> Powered by <a href="#" target="_blank"><%= config.author %></a>
            </div>
        </div>
    </footer>
