<div class="photo-main" id="photo">
    <ul class="photo-list">
        <% for(var i=1;i<=20;i++) { %>
        <li class="photo-item">
            <img src="<%- "http://7xp1k3.com1.z0.glb.clouddn.com/blog"+i+".jpg" %>" alt="photo" class="photo-img">
        </li>
        <% } %>
    </ul>
</div>
<script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
<script>
    $('.photo-list').masonry({
    itemSelector: '.photo-item',
    columnWidth: 200
    });
</script>
