<div class="photo-main">
    <ul class="photo-list">
        <% for(var i=1;i<=20;i++) { %>
        <li class="photo-item">
            <img src="<%- "http://7xp1k3.com1.z0.glb.clouddn.com/blog-photo"+i+".jpg" %>" alt="photo" class="photo-img">
        </li>
        <% } %>
    </ul>
</div>
